{%- extends "templates/_base.html.j2" -%}

{%- block body_style %}; margin-top: 10px{% endblock -%}

{%- block header %}
                  <table role="presentation" cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 10px">
                    <tr>
                      <td style="vertical-align: middle; padding-right: 10px">
                        {{ name_image_block(name_image, organization, size=55, rounded=true) | indent(24) }}
                      </td>
                      <td style="vertical-align: middle; font-size: 16pt; font-family: '{{ name_font }}', sans-serif">
                        <strong>{{ name }}</strong>
                      </td>
                    </tr>
                  </table>
                  <div style="height: 4px; background-color: {{ color | lower }}; border-radius: 10px; margin-bottom: 10px" aria-hidden="true"></div>
{%- endblock -%}

{%- block content %}
                  <table role="presentation" cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 20px">
                    <tr>
                      <td>
                        <p style="margin: 0"><strong>{{ position }}</strong></p>
                        <p style="margin: 0">{{ organization }}</p>
                        <br />
                        {{ contact_info(phone, phone_country_code, internal_phone, mail, opt_mail) | indent(24) }}
                        {%- if organization_extra is defined %}
                        <br />
                        <p style="margin: 0"><em>{{ organization_extra }}</em></p>
                        {%- endif %}
                      </td>
                    </tr>
                  </table>
{%- endblock %}
