{%- extends "templates/_base.html.j2" -%}

{%- block header %}
                  <table role="presentation" cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 10px">
                    <tr>
                      <td>
                        {{ name_image_block(name_image, organization, wide=true) | indent(24) }}
                      </td>
                    </tr>
                  </table>
{%- endblock -%}

{%- block content %}
                  <table role="presentation" cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 20px">
                    <tr>
                      <td style="width: 4px; background-color: {{ color | lower }}; border-radius: 10px" aria-hidden="true"></td>
                      <td style="width: 10px"></td>
                      <td style="vertical-align: top">
                        <p style="margin: 0; font-family: '{{ name_font }}', sans-serif; font-size: 16pt"><strong>{{ name }}</strong></p>
                        <p style="margin: 0; font-size: 12pt"><strong>{{ position }}</strong></p>
                        <p style="margin: 0">{{ organization }}</p>
                        <br />
                        {{ contact_info(phone, phone_country_code, internal_phone, mail, opt_mail) | indent(24) }}
                        {%- if organization_extra is defined %}
                        <br />
                        <p style="margin: 0"><em>{{ organization_extra }}</em></p>
                        {%- endif %}
                      </td>
                    </tr>
                  </table>
{%- endblock -%}

{%- block sponsors -%}
{%- set sponsors_content = sponsors_section(sponsor_text, sponsors, color, max_width, with_bar=true) -%}
{%- if sponsors_content %}
{{ sponsors_content | indent(18, first=true) }}
{%- endif -%}
{%- endblock -%}

{%- block supporters -%}
{%- set supporters_content = sponsors_section(supporter_text, supporters, color, max_width, with_bar=true) -%}
{%- if supporters_content %}
{{ supporters_content | indent(18, first=true) }}
{%- endif -%}
{%- endblock %}
